<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Enlaces</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="static/materialize.min.css"  media="screen,projection"/>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>

    <nav>
        <div class="nav-wrapper">
    <a href="#" class="brand-logo right">UGB</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="mayor.html">Numero mayor o menor</a></li>
            <li><a href="template2.html">San Miguel</a></li>
            <li><a href="enlaces.html">Enlaces</a></li>
            
           
            
          </ul>
        </div>
      </nav>

      <ul class="collection">
        <li class="collection-item avatar">
          <img src="static/canva.png" alt="" class="circle">
          <a class="title" href="https://ugb.instructure.com/login/canvas">Canvas UGB</a>
          <p>Presione para ir al sitio...</p>
         
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">folder</i>
          <img src="static/google.jpg" alt="" class="circle">
          <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwj6gr_t6sDzAhUbMlkFHXt6A0MQPAgI" class="title">Google</a>
          <p>Presione para ir al sitio...
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
          <img src="static/unnamed.jpg" alt="" class="circle">
          <a href="https://www.ugb.edu.sv" class="title">UGB </a>
          <p>Presione para ir al sitio... <br>
             Pagina oficial de UGB
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <img src="static/descargar.png" alt="" class="circle">
          <a href="https://www.youtube.com" class="title">Youtube</a>
          <p>Presione para ir al sitio... 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </ul>



</body>
</html>